{% load static %}
<html lang="es-es">
    <head>
        <title>mainApp - Admin</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    <body class=" dashboard" data-admin-utc-offset="7200">
        <!-- Container -->
        <div id="container">
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h1 id="site-name"><a href="/home">Administración de la mainApp</a></h1>
                </div>
                <div id="user-tools">
                    {% if user.is_authenticated %}
                    Bienvenido/a,<strong> {{ user.username }}</strong>.<a href="{% url 'logout' %}">Terminar sesión</a>
                    {% else %}
                    No has iniciado sesión. pulsa <a href="{% url 'login' %}">Aquí</a> para iniciar sesión
                    {% endif %}
                </div>
            </div>
            <!-- END Header -->
            {% block content %}
            {% endblock %}
            <div id="footer"></div>
        </div>
        <!-- END Container -->
    </body>
</html>