<html lang="es-es">
    <head>
        <title>Sitio administrativo | Sitio de administración de Django</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        <meta name="robots" content="NONE,NOARCHIVE">
    </head>
    <body class=" dashboard" data-admin-utc-offset="7200">
        <!-- Container -->
        <div id="container">
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h1 id="site-name"><a href="/admin/">Administración de la mainApp</a></h1>
                </div>
                <div id="user-tools">
                    Bienvenido/a,<strong>admin</strong>.<a href="/">Ver el sitio</a> /<a href="/admin/password_change/">Cambiar contraseña</a> /<a href="/admin/logout/">Terminar sesión</a>
                </div>
            </div>
            <!-- END Header -->
    
            <!-- Content -->
            <div id="content" class="colMS">
                <h1>Sitio administrativo</h1>
                <div id="content-main">
                    <div class="app-auth module">
                        <table>
                            <caption>
                                <a href="/admin/auth/" class="section" title="Modelos en la aplicación Autenticación y autorización">Autenticación y autorización</a>
                            </caption>
                            <tbody>
                                <tr class="model-group">
                                <th scope="row"><a href="/admin/auth/group/">Grupos</a></th>
                                <td><a href="/admin/auth/group/add/" class="addlink">Añadir</a></td>
                                <td><a href="/admin/auth/group/" class="changelink">Modificar</a></td>
                                </tr>
            
                                <tr class="model-user">
                                <th scope="row"><a href="/admin/auth/user/">Usuarios</a></th>
                                <td><a href="/admin/auth/user/add/" class="addlink">Añadir</a></td>
                                <td><a href="/admin/auth/user/" class="changelink">Modificar</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="app-blog module">
                        <table>
                            <caption>
                                <a href="/admin/blog/" class="section" title="Modelos en la aplicación Blog">Blog</a>
                            </caption>
                            <tbody>
                                <tr class="model-comment">
                                <th scope="row"><a href="/admin/blog/comment/">Comments</a></th>
                                <td><a href="/admin/blog/comment/add/" class="addlink">Añadir</a></td>
                                <td><a href="/admin/blog/comment/" class="changelink">Modificar</a></td>
                                </tr>
                                <tr class="model-post">
                                <th scope="row"><a href="/admin/blog/post/">Posts</a></th>
                                <td><a href="/admin/blog/post/add/" class="addlink">Añadir</a></td>
                                <td><a href="/admin/blog/post/" class="changelink">Modificar</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            
                <div id="content-related">
                    <div class="module" id="recent-actions-module">
                        <h2>Acciones recientes</h2>
                        <h3>Mis acciones</h3>
                        <ul class="actionlist">
                            <li class="addlink">
                                <a href="/admin/blog/comment/1/change/">Esto es un comentario de jose caballero para el post de probando.</a>
                                <br>
                                <span class="mini quiet">Comment</span>
                            </li>
                            <li class="addlink">
                                <a href="/admin/blog/post/2/change/">post 2</a>
                                <br>
                                <span class="mini quiet">Post</span>
                            </li>
                            <li class="changelink">
                                <a href="/admin/blog/post/1/change/">post 1</a>
                                <br>
                                <span class="mini quiet">Post</span>
                            </li>
                            <li class="addlink">
                                <a href="/admin/blog/post/1/change/">post 1</a>
                                <br>
                                <span class="mini quiet">Post</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <br class="clear">
            </div>
            <!-- END Content -->
    
            <div id="footer"></div>
        </div>
        <!-- END Container -->
    </body>
</html>